body {
    font-family: 'Poppins', sans-serif;
    background:#f4f3ef;
}
  
.wrapper {
    height: 600px;
    width: 1000px;
    margin: 30px auto;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
}
  
.product-img img {
    border-radius: 7px 0 0 7px;
    width: 500px;
    height: 600px;
}
  
.product-info {
    height: 600px;
    width: 500px;
    border-radius: 0 7px 10px 7px;
    background: #fff;
}

.product-info a{
    margin: 1px 0 0 390px;
    color: #151414;
    text-decoration: none;
}

.product-text {
    width: 450px;
}
  
.product-text h1 {
    margin: 0 0 0 25px;
    padding-top: 52px;
    font-size: 34px;
    color: #1582c2;
}
  
.product-text h2 {
    margin: 0 0 47px 25px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2b2b2b;
    letter-spacing: 0.2em;
}

.product-text h3 {
    margin: 30px 0 10px 25px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2b2b2b;
    letter-spacing: 0.2em;
}

.product-text h5 {
    margin: 0 0 0 25px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2b2b2b;
    letter-spacing: 0.2em;
}
.product-text .price {
    font-size: 16px;
    font-weight: 300;
    width: 380px;
}
  
.product-text p {
    margin: 0 0 0 25px;
    color: #151414;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: 350;
    overflow: hidden;
    text-align: justify;
}
  
.product-price-btn {
    height: 103px;
    width: 327px;
    margin: 0px 0 0 270px;
    position: relative;
}
  
.product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #fff;
}
  
span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}
  
.product-price-btn button{
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #17a2b8;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
}
  
.product-price-btn button:hover {
    background-color: #0b8ca0;
}

/*==================Price===============*/
